* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.clear-fix:after {
    display: block;
    content: "\0020";
    clear: both;
}

.wrap {
    width: 100%;
    height: 100%;
}

.left-menu {
    width: 20%;
    height: 100%;
    float: left;
    min-width: 250px;
    background-color: #c7254e;
}

.right-content {
    width: 80%;
    height: 100%;
    float: left;
    background-color: #d9534f;
}